# Basic Exploratory Data Analysis

In [114]:
import pandas as pd
import os

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [115]:
# read and write locations
data_folder = os.path.join("..", "data")
raw_folder = os.path.join(data_folder, "raw")
processed_folder = os.path.join(data_folder, "processed")

# file names
rmp_num_filename = "rmpCapstoneNum.csv"
rmp_qual_filename = "rmpCapstoneQual.csv"
rmp_tags_filename = "rmpCapstoneTags.csv"

In [116]:
df_num = pd.read_csv(os.path.join(raw_folder, rmp_num_filename), header=None)
df_qual = pd.read_csv(os.path.join(raw_folder, rmp_qual_filename), header=None)
df_tags = pd.read_csv(os.path.join(raw_folder, rmp_tags_filename), header=None)

## Adding column headers

In [117]:
df_num_column_names = [
     "average_rating",
     "average_difficulty",
     "number_of_ratings",
     "received_a_pepper",
     "would_take_again",
     "number_of_ratings_online",
     "male_gender",
     "female_gender",
]


df_qual_column_names = [
     "major",
     "university",
     "state",
]

df_tags_column_names = [
    "tough_grader",
    "good_feedback",
    "respected",
    "lots_to_read",
    "participation_matters",
    "dont_skip_class_or_you_will_not_pass",
    "lots_of_homework",
    "inspirational",
    "pop_quizzes",
    "accessible",
    "so_many_papers",
    "clear_grading",
    "hilarious",
    "test_heavy",
    "graded_by_few_things",
    "amazing_lectures",
    "caring",
    "extra_credit",
    "group_projects",
    "lecture_heavy"
]

df_num.columns = df_num_column_names
df_qual.columns = df_qual_column_names
df_tags.columns = df_tags_column_names

## Join Tables Together

In [118]:
df = df_num.join(df_qual).join(df_tags)

## Handling Null Values

All columns with missing data have exactly 19889 missing records, except for the column representing if a student would take the course again. We also noticed that these 19889 records are all in the same positions. Lastly, we noticed that for these 19889 records, all tag values were 0. Thus, we decided to completely remove these 19889 records.

In [119]:
df.isna().sum()

average_rating                          19889
average_difficulty                      19889
number_of_ratings                       19889
received_a_pepper                       19889
would_take_again                        77733
number_of_ratings_online                19889
male_gender                                 0
female_gender                               0
major                                   19889
university                              19889
state                                   19889
tough_grader                                0
good_feedback                               0
respected                                   0
lots_to_read                                0
participation_matters                       0
dont_skip_class_or_you_will_not_pass        0
lots_of_homework                            0
inspirational                               0
pop_quizzes                                 0
accessible                                  0
so_many_papers                              0
clear_grading                               0
hilarious                                   0
test_heavy                                  0
graded_by_few_things                        0
amazing_lectures                            0
caring                                      0
extra_credit                                0
group_projects                              0
lecture_heavy                               0
dtype: int64

In [120]:
df = df.dropna(subset="average_rating")

In [121]:
df.isna().sum()

average_rating                              0
average_difficulty                          0
number_of_ratings                           0
received_a_pepper                           0
would_take_again                        57844
number_of_ratings_online                    0
male_gender                                 0
female_gender                               0
major                                       0
university                                  0
state                                       0
tough_grader                                0
good_feedback                               0
respected                                   0
lots_to_read                                0
participation_matters                       0
dont_skip_class_or_you_will_not_pass        0
lots_of_homework                            0
inspirational                               0
pop_quizzes                                 0
accessible                                  0
so_many_papers                              0
clear_grading                               0
hilarious                                   0
test_heavy                                  0
graded_by_few_things                        0
amazing_lectures                            0
caring                                      0
extra_credit                                0
group_projects                              0
lecture_heavy                               0
dtype: int64

## Convert Tags to a proportion between 0 and 1 - To Do

## Weighting Records

We repeat each record for the ratings count for the record. Thus, a record with a ratings_count of 100 will show up in the final dataset 100 times, but a record with a ratings_count of 1 will only show a single time.

In [122]:
df = df.loc[df.index.repeat(df['number_of_ratings'])].reset_index(drop=True)

# To Do:

1. Convert would_take_again column to a categorical variable, with one option being null

## Write to processed folder

In [123]:
df.to_csv(os.path.join(processed_folder, "repeated_records.csv"), index=False)